@media (max-width: 600px) {

h3{
    font-size: 16.8px;
}
#botones-inicio{
    display: grid;
    gap: 20px;
    margin-top: 40px;
}
#caja-inicio {
    width: 385px;
}
#productos, #productosXkg, #calculadoraDef{
    width: 250px;
}
#popup-calculadoraDef{
    width: 400px;
    padding: 10px;
    min-height: fit-content;
}
.pruebaTexto, .pruebaTexto2{
    width: 150px;
}
.fondo-super{
    background-position: center;
}

}

